<form method='post' action='/comment/new'>
    <div class="container">
        <div class="form-row">
            <div class="col-md-4 m-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First name" name='firstName'required>
            </div>
            <div class="col-md-4 m-3">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" rows="3" name='comment' required></textarea>
            </div>
        </div>
    </div>
    <button type='submit'>Submit comment</button>
    </div>
</form>